@tailwind base;

::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eab839;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6a603c;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #c7ccdb;
    --color-text-muted: #1e1e1e;
    --color-text-inverted: #c7d;
    --color-text-danger: #ea4335;
    --color-text-good: #40e482;
    --color-fill: #84a6b0;
    --color-block: #000;
    --color-btn-accent: #e49940;
    --color-btn-accent-hover: #76b6c0;
    --color-btn-muted: #1e1e1e;
    --color-btn-danger: #6f1a07;
  }
}

@layer utilities {
  .arrow-clip-right {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  .arrow-clip-left {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text-base);
  background-color: transparent;
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s; */
  -webkit-background-clip: text;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

html {
  font-size: 62.5%;
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

body {
}
